nav.breadcrumb ol {
  margin-top: -2.5rem;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: flex-start;
}

nav.breadcrumb li {
  display: flex;
}

nav.breadcrumb li::before {
  content: "/";
}

/* nav.breadcrumb li + li a {
  padding-left: 0.75rem;
} */

nav.breadcrumb a {
  text-decoration: none;
  padding: 0 0.75rem;
}

nav.breadcrumb li:first-child a {
  padding-left: 0;
}

nav.breadcrumb a:hover {
  text-decoration: underline;
}
