#block-simple-base-breadcrumbs ol {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: flex-start;
}

#block-simple-base-breadcrumbs li {
  display: flex;
}

#block-simple-base-breadcrumbs li + li::before {
  content: "/";
}

#block-simple-base-breadcrumbs li + li a {
  padding-left: 0.75rem;
}

#block-simple-base-breadcrumbs a {
  text-decoration: none;
  padding-right: 0.75rem;
}

#block-simple-base-breadcrumbs a:hover {
  text-decoration: underline;
}
