.field {
  margin-bottom: var(--cu-vr2);
}

.field--name-field-tags {
  border-bottom: 1px solid #ccc;
  padding-bottom: var(--cu-vr2);
  margin-bottom: var(--cu-vr2);
}

.field__label {
  margin-bottom: var(--cu-vr-1);
}
