:root {
  --media-component-pullout: 100px;
}

.component--portrait {
  --media-component-margin: var(--cu-ps2);
  max-width: calc(400px + var(--media-component-margin) + var(--media-component-pullout));
  float: left;
  margin-right: var(--media-component-margin);
  margin-left: calc(-1 * var(--media-component-pullout));
}

.component--portrait-right {
  float: right;
  margin-left: var(--media-component-margin);
  margin-right: calc(-1 * var(--media-component-pullout));
}

.field--name-field-components .field__item {
  margin-bottom: var(--cu-vr3);
}

.paragraph--type--rich-text .field--name-field-body p:last-of-type {
  margin-bottom: 0;
}

.node--view-mode-teaser .field--name-field-representative-image,
.component--content-width {
  margin-left: -50px;
  margin-right: -50px;
}

.field--type-entity-reference img,
.paragraph--type--media img,
.component img,
figure img {
  width: 100%;
  height: auto;
}

figcaption {
  font-size: var(--cu-ms-3);
}

@media (min-width: 58rem) {
  .field--name-field-body figure {
    margin: var(--cu-vr2) 0;
    width: calc(2 * var(--media-component-pullout) + 100%);
  }

  .field--name-field-body figure img {
    width: 100%;
  }

  .field--name-field-body figure.align-center {
    margin-left: calc(-1 * var(--media-component-pullout));
  }
}
