.node--view-mode-teaser {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--cu-vr3);
}

.node--view-mode-teaser .field--name-field-representative-image {
  margin-bottom: var(--cu-vr1);
}

.node--view-mode-teaser h2 {
  order: -1;
}

.node--view-mode-teaser h2 a {
  text-decoration: none;
}

.node--view-mode-teaser h2 a:hover {
  text-decoration: underline;
}

.node--view-mode-teaser .node__content {
  display: contents;
}

.node--view-mode-teaser .field--name-field-representative-image {
  order: -2;
}

.node--view-mode-teaser .field--name-field-tags {
  order: 2;
}

