.view-blog-home,
.view-taxonomy-term {
  margin: var(--cu-vr3) 0;
}

.block-views-blockrelated-content-block-1 {
  background: #4c4c4c;
  padding: var(--cu-vr3) 0;
}

.block-views-blockrelated-content-block-1 .view-content,
.block-views-blockrelated-content-block-1 > h2 {
  display: grid;
  max-width: calc(var(--layout-max-width) * 1.33);
  margin: 0 auto;
  padding-left: var(--cu-vr1);
  padding-right: var(--cu-vr1);
}

.block-views-blockrelated-content-block-1 .views-row {
  display: flex;
}

.block-views-blockrelated-content-block-1 h2 {
  color: white;
  margin-bottom: var(--cu-vr1);
}

.view-related-content .node--view-mode-teaser {
  background: white;
}

.view-related-content .node--view-mode-teaser h2 {
  margin: var(--cu-vr1) var(--cu-ps1);
}

.view-related-content .field--name-body,
.view-related-content .field--name-field-tags {
  display: none;
}

.view-related-content .node--view-mode-teaser .field--name-field-representative-image {
  margin: 0;
}

@media (min-width: 44rem) {
  .view-related-content .view-content {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--cu-ms1);
  }
}

.view-header .tags {
  display: flex;
  list-style-type: none;
  padding: 0 0 var(--cu-vr3);
}

.tags__item {
  margin: 0 var(--cu-ms-2);
}
.tags__item:first-child {
  margin-right: calc(var(--cu-ms-2) * 0.5);
}

.tags__label {
  font-weight: 400;
}

.tags__link {
  padding: 0.2rem 1rem;
  text-decoration: none;
  border-radius: 15px;
  background: #efefef;
}

.tags__link::hover {
  text-decoration: underline;
}
