/vendor/
/web
/drush
.idea
/db

/config
/files
/content
/modules
/scripts

.editorconfig
.env
.env.example
composer.json
composer.lock
load.environment.php
settings.php
README.md

CNAME
gh-pages
html/
