*.sass-cache
docroot/.drupal_streamline_guard_running

# Ignore files folder
docroot/sites/default/files/

# Ignore settings
docroot/sites/default/settings.php

# Ignore the stylesheets
docroot/themes/afro/css/

# Ignore Mac-only files
.DS_Store
