.grid__wrapper {
  @include full-width;

  .main-content & {
    background: $gray-dark;
    padding: 2rem 0;
    margin-bottom: 2rem;

    h2 {
      @include wrapper(75rem);

      margin-bottom: 1rem;
      color: $white;
    }
  }
}

.card__grid {
  @include grid;
  @include margin;
  @include wrapper($xl);

  .card {
    @include grid-item(3);
  }
}

.card--grid-item {
  @include grid-item(3);
}

.card--divider-3 {
  @include grid-divider(3);
}
