//  Empty

.header {
  @include full-width;

  padding: 0.5rem 2rem;
  color: white;
  background: $color-header-bg;

  .header-content {
    .site-branding {
      font-family: $font-heading;

      a {
        color: white;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .front & {
    margin-bottom: 3rem;
  }
}
