.component {
  // @include clearfix;

  margin-bottom: $space-triple;
  position: relative;
}

.component__image,
.component__video {
  @include large {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  .img {
    @include fill-parent;

    &--full_width {
      @include full-width;

      width: auto;
    }

    &--focussed_portrait {
      max-width: 400px;
    }
  }

  &--focussed_portrait {
    @include large {
      float: right;
      margin-left: 2rem;
      margin-right: -10%;
    }

    @include xl {
      margin-right: -20%;
    }
  }
}

.component__text__heading {
  @include heading-medium;
}
