//
// General Layout (example code)
//

.main {
  @include wrapper;
}

.main-sidebar {
  @include xl {
    @include grid-span(3,1);
  }
}

.main-content {
  padding: 0 1em 28px;

  @include xl {
    padding: 0 0 28px;

    &--with-sidebar {
      @include grid-span(9,4);
    }
  }

  article {
    .article__date {
      margin: $space/2 0 $space-double;
    }
  }
}

@mixin page-title {
  $color-title-bg: lighten($color-header-bg, 5%);

  @include full-width;

  padding: 4rem 0 5rem;
  background-color: $color-title-bg;
  border-top: 1px solid lighten($color-title-bg, 5%);

  h1,
  .h1 {
    @include wrapper;

    font-size: 2.6rem;
    line-height: 2.8rem;
    color: white;
  }

  .front & {
    display: none;
  }
}

#block-afro-theme-page-title {
  @include page-title;
}
