<div class="social-links">
  <a class="social-link" href="https://twitter.com/aaronfroehlich"><i class="fa fa-twitter"></i></a>
  <a class="social-link" href="https://github.com/a-fro "><i class="fa fa-github-alt"></i></a>
  <a class="social-link"  href="http://www.linkedin.com/in/aaronfroehlich"><i class="fa fa-linkedin-square"></i></a>
</div>
