// Empty
.footer {
  padding: 1em 0;
  color: $color-footer;
  background: $color-footer-bg;

  h2,
  a,
  .form-item__label {
    color: white;
    font-weight: 300;
  }

  h2 {
    margin: 0;
    color: lighten($blue-wood, 10%);
  }
}
