/**
* @file
* Design elements.
*/

.branding {
  padding: 1em;
  @include breakpoint($break-medium) {
      padding: 1em 2em;
  }
  float: left;
}

.logo {
  color: $white;
  @include typecsset-font-size(22px);
  font-weight: $bold;
  font-family: $title-font;
  // text-transform: uppercase;
  &:hover {
      color: darken($belize-hole, 20%);
  }
}

.slogan {
  color: darken($belize-hole, 10%);
  @include typecsset-font-size(18px);
  line-height: 1;
  font-weight: $light;
}

.views-row {
  padding: .5em 0;
  border-bottom: solid 1px $clouds;
  .views-field-title {
      margin: 0;
      @include typecsset-font-size(22px);
  }
}

a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
      color: darken($linkColor, 5%);
  }
}

.button {
  text-align: center;
  @include sassy-button("flat", 2px, 14px, $belize-hole);
  color: $white;
  font-family: $title-font;
  &:hover {
      color: $white;
  }
}

.social-links {
  display: none;
  @include breakpoint($break-medium) {
    display: block;
    float: right;
    padding: 1em 2em 1em 0;
    .fa {
      margin: 0 .33em 0 0;
      @include typecsset-font-size(36px);
    }
  }
  a {
    color: white;
  }
}

// Page Scroll Up
#scrollUp {
  display: none;
  @include breakpoint($break-medium) {
    display: block;
    bottom: 20px;
    right: 20px;
    height: 38px;
    width: 38px;
    background: url(../img/top.png) no-repeat;
  }
}

// Overrides
// .tabs {
//   margin: 0 0 2em 0;
//   @include typecsset-font-size(14px);
//   li {
//     display: inline;
//     margin: 0 1em 0 0;
//     a {
//       display: inline;
//     }
//   }
// }

.messages {
  margin-bottom: 1em;
}

.link-wrapper ul,
ul.inline li {
  margin: 0;
  padding: 0;
}

/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre {
    border: 1px solid #ccc;
    word-wrap: break-word;
    padding: 6px 10px;
    line-height: 19px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

code {
    border: 1px solid #eaeaea;
    margin: 0px 2px;
    padding: 0px 5px;
    font-size: 12px;
}

pre code {
    border: 0px;
    padding: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

pre, code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    color: #333;
    background: #f8f8f8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

pre, pre code {
    font-size: 13px;
}

pre .comment {
    color: #998;
}

pre .support {
    color: #0086B3;
}

pre .tag, pre .tag-name {
    color: navy;
}

pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
    font-weight: bold;
}

pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
    color: #333;
}

pre .constant.numeric, pre .keyword.unit, pre .hex-color {
    font-weight: normal;
    color: #099;
}

pre .entity.class {
    color: #458;
}

pre .entity.id, pre .entity.function {
    color: #900;
}

pre .attribute, pre .variable {
    color: teal;
}

pre .string, pre .support.value  {
    font-weight: normal;
    color: #d14;
}

pre .regexp {
    color: #009926;
}

// Line Numbers

.rainbow {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
}
.rainbow .line .line-number {
  text-align: right;
  padding-left: 0.8em;
  padding-right: 0.8em;
  color: $silver;
  border-right: 1px solid $silver;
}
.rainbow .line .line-number:before {
  content: attr(data-line-number);
}
.rainbow .line td {
  &.line-number {
    padding: 0 .7em 0 .5em;
  }
  &.line-code {
    padding: .2em 1em;
    width: 100%;
  }
}

// Html5 inputs
// -------------------------------------------------------

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="color"],
input[type="file"],
input[type="password"],
textarea,
select {
  @include input;
  padding: 7px 4px 7px 10px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="color"]:focus,
input[type="file"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  @include input-focus;
}
