{# splat copy/paste from mailchimp signup block #}
<div data-drupal-selector="mailchimp-signup-subscribe-block-blog-form" id="block-mailchimpsubscriptionformblog" class="block mailchimp-signup-subscribe-form contextual-region">

      <h2 class="h2">Stay in touch</h2>
    <div data-contextual-id="block:block=mailchimpsubscriptionformblog:langcode=en" data-contextual-token="8ry-66LlN3jlDBur1WPQC44keCV8j5PnY5E8r3nxFX0" class="contextual" role="form"><button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open Stay in touch configuration options</button><ul class="contextual-links" hidden=""><li class="block-configure"><a href="/admin/structure/block/manage/mailchimpsubscriptionformblog?destination=node/3">Configure block</a></li></ul></div>
      <form action="/blog/ansible-and-drupal-development" method="post" id="mailchimp-signup-subscribe-block-blog-form" accept-charset="UTF-8" data-drupal-form-fields="edit-mergevars-email,edit-mailchimp-lists-interest-groups-d7838fe88d-3477cb05b5,edit-mailchimp-lists-interest-groups-d7838fe88d-d15fb2db00,edit-submit">
  <div id="mailchimp-newsletter-5d58fac989-mergefields" class="mailchimp-newsletter-mergefields"><div class="js-form-item form-item">
      <label for="edit-mergevars-email" class="js-form-required form-required form-item__label">Email Address</label>
        <input data-drupal-selector="edit-mergevars-email" id="edit-mergevars-email" name="mergevars[EMAIL]" value="" size="25" maxlength="254" class="form-email required form-item__textfield" required="required" aria-required="true" type="email">

        </div>
</div><input autocomplete="off" data-drupal-selector="form-okbsppikyqpmihczqlan0mpi7xru-1s7fldcigmrztq" name="form_build_id" value="form-OKBsPpiKYQpMihcZqlaN0mPi7xRU_1s7flDcIgmRztQ" class="form-item__textfield" type="hidden">
<input data-drupal-selector="edit-mailchimp-signup-subscribe-block-blog-form-form-token" name="form_token" value="30D1IxGncgTH8NQWFYPEbQPqjuiJVpak42W12wylmGY" class="form-item__textfield" type="hidden">
<input data-drupal-selector="edit-mailchimp-signup-subscribe-block-blog-form" name="form_id" value="mailchimp_signup_subscribe_block_blog_form" class="form-item__textfield" type="hidden">
<fieldset class="mailchimp-newsletter-interests-5d58fac989 fieldgroup form-composite form-fieldset" data-drupal-selector="edit-mailchimp-lists-interest-groups-d7838fe88d" id="edit-mailchimp-lists-interest-groups-d7838fe88d--wrapper">
      <legend class="h2">Interests</legend>
      <div id="edit-mailchimp-lists-interest-groups-d7838fe88d" class="form-item--checkboxes"><div class="js-form-item form-item">
        <input class="mailchimp-newsletter-interests-5d58fac989 form-checkbox form-item__textfield" data-drupal-selector="edit-mailchimp-lists-interest-groups-d7838fe88d-3477cb05b5" id="edit-mailchimp-lists-interest-groups-d7838fe88d-3477cb05b5" name="mailchimp_lists[interest_groups][d7838fe88d][3477cb05b5]" value="3477cb05b5" type="checkbox">

        <label for="edit-mailchimp-lists-interest-groups-d7838fe88d-3477cb05b5" class="option form-item__label">Technical</label>
      </div>
<div class="js-form-item form-item">
        <input class="mailchimp-newsletter-interests-5d58fac989 form-checkbox form-item__textfield" data-drupal-selector="edit-mailchimp-lists-interest-groups-d7838fe88d-d15fb2db00" id="edit-mailchimp-lists-interest-groups-d7838fe88d-d15fb2db00" name="mailchimp_lists[interest_groups][d7838fe88d][d15fb2db00]" value="d15fb2db00" type="checkbox">

        <label for="edit-mailchimp-lists-interest-groups-d7838fe88d-d15fb2db00" class="option form-item__label">Personal</label>
      </div>
</div>

    </fieldset>
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" id="edit-submit" name="op" value="Sign up" class="button js-form-submit form-submit form-item__textfield" type="submit">
</div>

</form>

  </div>
